[project]
	description = Project files for Intro to DevOps class
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jennie Ohyoung (JennieOhyoung)
[access "refs/for/refs/*"]
	read = group user/Jennie Ohyoung (JennieOhyoung)
	push = group user/Jennie Ohyoung (JennieOhyoung)
	label-Code-Review = -2..+2 group user/Jennie Ohyoung (JennieOhyoung)
	label-Verified = -1..+1 group user/Jennie Ohyoung (JennieOhyoung)
	rebase = group user/Jennie Ohyoung (JennieOhyoung)
	removeReviewer = group user/Jennie Ohyoung (JennieOhyoung)
	submit = group user/Jennie Ohyoung (JennieOhyoung)
[access "refs/heads/*"]
	read = group user/Jennie Ohyoung (JennieOhyoung)
	create = group user/Jennie Ohyoung (JennieOhyoung)
	push = +force group user/Jennie Ohyoung (JennieOhyoung)
	pushMerge = group user/Jennie Ohyoung (JennieOhyoung)
[access "refs/tags/*"]
	push = group user/Jennie Ohyoung (JennieOhyoung)
	push = +force group user/Jennie Ohyoung (JennieOhyoung)
